<%- include('partial/_header') -%>
	<section class="main">
		<div class="container">
			<div class="center-container">		
				<h1 style="margin: 0;"><%- title %></h1>
			</div>
			<hr />
			<div class="center-container">
				<div class="split-side-left">
					
					<%- content %>

				</div>		
			</div>
		</div>
	</section>
<%- include('partial/_footer') -%>

