		<!-- Footer -->
        <div class="do-not-print">
            <section id="footer">
                <ul class="copyright">
                    <li>© <%= new Date().getFullYear() %> </li>
                    <li>Graphic Design: Jason Reek, Brandon Fidler</li>
                    <li>Content: Tom Boyd, Pamela Burnley</li>
                </ul>
            </section>
        </div>
    </body>
</html>