<div class="noteOutline do-not-print">
    <button class="accordion"><b> Introduction </b></button>
    <div class="panel">
        <ul id="myUL">
            <li><a href="/notes/gravity/1">Gravitational Force<i class="outline-page-number">pg 1</i></a>
                </li>
                <li><a href="/notes/gravity/2">Gravitational Acceleration<i
                        class="outline-page-number">pg 2</i></a></li>
                <li><a href="/notes/gravity/3">Units of Gravitational Acceleration<i
                        class="outline-page-number">pg 3</i></a></li>
            </ul>
        </div>

        <button class="accordion"><b> Gravity and Geology </b></button>
        <div class="panel">
            <ul id="myUL">
                <li><a href="/notes/gravity/4">How is the Gravitational Acceleration, g, Related to
                    Geology?<i class="outline-page-number">pg 4</i></a></li>
                <li><a href="/notes/gravity/5">Relevant Parameter is not Density, but
                    Density Contrast<i class="outline-page-number">pg 5</i></a></li>
                <li><a href="/notes/gravity/6">Density Variations of Earth Materials<i
                        class="outline-page-number">pg 6</i></a></li>
                <li><a href="/notes/gravity/7">A Simple Model<i class="outline-page-number">pg 7</i></a></li>
            </ul>
        </div>

        <button class="accordion"><b> Measuring Gravitational Acceleration </b></button>
        <div class="panel">
            <ul id="myUL">
                <li><a href="/notes/gravity/8">How do we Measure Gravity<i class="outline-page-number">pg
                    8</i></a></li>
                <li><a href="/notes/gravity/9">Falling Body Measurements<i class="outline-page-number">pg 9</i></a>
                </li>
                <li><a href="/notes/gravity/10">Pendulum Measurements<i class="outline-page-number">pg
                    10</i></a></li>
                <li><a href="/notes/gravity/11">Mass and Spring Measurements<i
                        class="outline-page-number">pg 11</i></a></li>
            </ul>
        </div>

        <button class="accordion"><b> Factors that Affect the Gravitational Acceleration </b></button>
        <div class="panel">
            <ul id="myUL">
                <li><a href="/notes/gravity/12">Overview<i class="outline-page-number">pg 12</i></a></li>
                <li style="text-align: center"><a href="#" class="header"><i>-Temporal Based Variations-</i></a></li>
                <li><a href="/notes/gravity/13">Instrument Drift<i class="outline-page-number">pg 13</i></a>
                </li>
                <li><a href="/notes/gravity/14">Tides<i class="outline-page-number">pg 14</i></a></li>
                <li><a href="/notes/gravity/15">Correction for Instrument
                    Drift and Tides<i class="outline-page-number">pg 15</i></a></li>
                <li><a href="/notes/gravity/16">Tidal and Drift Corrections: A Field
                    Procedure<i class="outline-page-number">pg 16</i></a></li>
                <li><a href="/notes/gravity/17">Tidal and Drift Corrections: Data
                    Reduction<i class="outline-page-number">pg 17</i></a></li>
                <li style="text-align: center"><a href="#" class="header"><i>-Spatial Based Variations-</i></a></li>
                <li><a href="/notes/gravity/18">Latitude Dependent Changes in Gravitational
                    Acceleration<i class="outline-page-number">pg 18</i></a></li>
                <li><a href="/notes/gravity/19">Correcting for Latitude Dependent Changes<i
                        class="outline-page-number">pg 19</i></a></li>
                <li><a href="/notes/gravity/20">Vari. in Gravitational Acceleration Due to Changes in
                    Elevation<i class="outline-page-number">pg 20</i></a></li>
                <li><a href="/notes/gravity/21">Accounting for Elevation Vari.: The Free-Air
                    Correction<i class="outline-page-number">pg 21</i></a></li>
                <li><a href="/notes/gravity/22">Variations in Gravity Due to Excess Mass<i
                        class="outline-page-number">pg 22</i></a></li>
                <li><a href="/notes/gravity/23">Correcting for Excess Mass: The Bouguer Slab
                    Correction<i class="outline-page-number">pg 23</i></a></li>
                <li><a href="/notes/gravity/24">Vari. in Gravity Due to Nearby Topography<i
                        class="outline-page-number">pg 24</i></a></li>
                <li><a href="/notes/gravity/25">Terrain Corrections<i class="outline-page-number">pg
                    25</i></a></li>
                <li><a href="/notes/gravity/26">Summary of Gravity Types<i class="outline-page-number">pg
                    26</i></a></li>
            </ul>
        </div>

        <button class="accordion"><b> Isolating Gravity Anomalies of Interest </b></button>
        <div class="panel">
            <ul id="myUL">
                <li><a href="/notes/gravity/27">Local/Regional Gravity Anomalies<i
                        class="outline-page-number">pg 27</i></a></li>
                <li><a href="/notes/gravity/28">Local/Regional Gravity Anomaly Sources<i
                        class="outline-page-number">pg 28</i></a></li>
                <li><a href="/notes/gravity/29">Separating Local/Regional Gravity Anomalies<i
                        class="outline-page-number">pg 29</i></a></li>
                <li><a href="/notes/gravity/30">Local/Regional Gravity Anomaly Separation Example<i
                        class="outline-page-number">pg 30</i></a></li>
            </ul>
        </div>

        <button class="accordion"><b> Gravity Anomalies Over Bodies With Simple Shapes </b></button>
        <div class="panel">
            <ul id="myUL">
                <li><a href="/notes/gravity/31">Gravity Anomaly Over a Buried Point Mass<i
                        class="outline-page-number">pg 31</i></a></li>
                <li><a href="/notes/gravity/32">Gravity Anomaly Over a Buried Sphere<i
                        class="outline-page-number">pg 32</i></a></li>
                <li><a href="/notes/gravity/33">Model Indeterminancy<i class="outline-page-number">pg
                    33</i></a></li>
                <li><a href="/notes/gravity/34">Gravity Calculations over Bodies with more Complex
                    Shapes<i class="outline-page-number">pg 34</i></a></li>
            </ul>
    </div>
</div>