<section id="header">
		
    <div class="icon major do-not-print"><img class="logo do-not-print" src="/images/logo.png" alt="UNLV Geoscience">
        <h1 style="color: #FFFFFF;" class="do-not-print">GEOL 452/652 - Geophysics<br></h1>
    <br>
        
    </div>
    <div class="menu-container do-not-print">
        <nav id="menu">
            <label for="tm" id="toggle-menu">Navigation <span class="drop-icon">▾</span></label>
            <input type="checkbox" id="tm">
            <ul class="main-menu cf">
            
            <li><a href="#">Introduction
                <span class="drop-icon">▾</span>
                <label title="Toggle Drop-down" class="drop-icon" for="sm0">▾</label>
                </a>
                <input type="checkbox" id="sm0">
                <ul class="sub-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/philosophy">Philosophy</a></li>
                    <li><a href="/organization">Organization</a></li>
                    <li><a href="/module-layout">Module Layout</a></li>
                    <li><a href="/course-objectives">Course Objectives</a></li>
                    <li><a href="/tle">TLE Reprint</a></li>
                </ul>
            </li>
            <li><a href="#">Gravity
                <span class="drop-icon">▾</span>
                <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
                </a>
                <input type="checkbox" id="sm1">
                <ul class="sub-menu">
                    <li><a href="/notes/gravity/1">Notes</a></li>
                    <li><a href="gravity/observations/GravityObservations.htm">Observations</a></li>
                    <li><a href="gravity/rfb/GravityRequestforBid.htm">Request for Bid</a></li>
                    <li><a href="gravity/design/GravitySurveyDesign.htm">Survey Design</a></li>
                    <li><a href="gravity/acquisition/GravityDataAcquisition.htm">Data Acquisition</a></li>
                    <li><a href="gravity/reduction/GravityDataInterpretation.htm">Interpretation</a></li>
                </ul>
            </li>
            <li><a href="#">Magnetism
                <span class="drop-icon">▾</span>
                <label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label>
                </a>
                <input type="checkbox" id="sm2">
            
                <ul class="sub-menu">
                    <li><a href="MagneticsHome.htm">Notes</a></li>
                    <li><a href="magnetism/observations/obs.html">Observations</a></li>
                    <li><a href="magnetism/rfb/rfb.html">Request for Bid</a></li>
                    <li><a href="magnetism/design/MagneticSurveyDesign.html">Survey Design</a></li>
                    <li><a href="magnetism/acquisition/acq.html">Data Acquisition</a></li>
                    <li><a href="magnetism/reduction/red.html">Interpretation</a></li>
                </ul>    
            </li>
            <li><a href="#">Resistivity
                <span class="drop-icon">▾</span>
                <label title="Toggle Drop-down" class="drop-icon" for="sm3">▾</label>
                </a>
                <input type="checkbox" id="sm3">
                
                <ul class="sub-menu">
                    <li><a href="DCResistivityHome.htm">Notes</a></li>
                    <li><a href="resistivity/observations/obs.html">Observations</a></li>
                    <li><a href="resistivity/rfb/rfb.html">Request for Bid</a></li>
                    <li><a href="resistivity/design/design.html">Survey Design</a></li>
                    <li><a href="resistivity/acquisition/acq.html">Data Acquisition</a></li>
                    <li><a href="resistivity/reduction/red.html">Interpretation</a></li>
                </ul>    
            </li>
            <li><a href="#">Refr. Seismic
                <span class="drop-icon">▾</span>
                <label title="Toggle Drop-down" class="drop-icon" for="sm4">▾</label>
                </a>
                <input type="checkbox" id="sm4">
            
            <ul class="sub-menu">
                <li><a href="RefractionSeismicHome.htm">Notes</a></li>
                    <li><a href="seismology/observations/obs.html">Observations</a></li>
                    <li><a href="seismology/rfb/rfb.html">Request for Bid</a></li>
                    <li><a href="seismology/design/design.html">Survey Design</a></li>
                    <li><a href="seismology/acquisition/acq.html">Data Acquisition</a></li>
                    <li><a href="seismology/reduction/red.html">Interpretation</a></li>
            </ul>    
        </li>
        <li><a href="MapsInfoetc_Home.htm">Maps &amp; Info</a></li>
        <li style="border: none;"><a href="OtherInformationHome.htm">Other Info.</a></li>
        </ul>
    </nav>
</div>
</section>